* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #bf3148;
    background-image: url(../assets/bg-kopi-login-long.png);
}
.container {
    max-width: 90%;
    margin: auto;
}

/* Navbar Start */
.custom-navbar-bg {
    border-bottom: 1px solid #ffffff;
    position: fixed;
    width: 100vw;
}

.custom-navbar-bg .container-fluid{
    max-width: 90%;
}

.regular-logo {
    display: block;
    width: 6.25em;
}

.custom-navbar-bg button.navbar-toggler{
    background-color: #F2C029;
}

.custom-navbar-bg .nav-item a{
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: white;
    font-size: 1rem;
    opacity: 100%;
    text-decoration: none;
    margin: auto;
}

.custom-navbar-bg .nav-item a.active {
    color: #F2C029;
    font-weight: 700;
}  

.custom-navbar-bg .dropdown li{
    display: flex;
    padding: 5px 0px;
    border-bottom: 1px solid #afafaf;
}

.custom-navbar-bg .dropdown a{
    color: white;
}

.custom-navbar-bg .dropdown img{
    margin: auto;
}

.custom-navbar-bg .profile-picture{
    margin: auto 0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    object-fit: cover;
    z-index: 4;
}

.custom-navbar-bg .dropdown-menu a{
    color: #3a3a3a;
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    font-size: 1rem;
    opacity: 100%;
    text-decoration: none;
}

.custom-navbar-bg .dropdown li.logout{
    border-bottom: none;
    padding: 0;
    margin: 10px auto;
}

.custom-navbar-bg .dropdown .logout a.logout-link{
    background-color: #BF3148;
    color: white;
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    font-size: 1.25rem;
    opacity: 100%;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navbar-toggler-icon span {
    background-color: white;
}

.custom-navbar-bg.navbar-scrolled {
    background-color: #BF3148;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
/* Navbar End */

/* Edit Profil Start */
.editProfil::before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../assets/bg_3d_kopi_kanan.png);
    background-repeat: no-repeat;
    background-position: top right;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .editProfil::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../assets/bg_3d_kopi_kiri.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

.editProfil{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10% 0;
    width: 100%;   
    min-height: 100vh;     
}

.editProfil a{
    text-decoration: none;
}

.container {
    display: flex;    
}

.editProfil .card-form{
    border-radius: 20px;
    background: #E6E6E6;
    margin: auto;
    height: 100%;
    padding: 20px 0;
    width: 600px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.editProfil .form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.editProfil .container .judul-form h2{
    font-family: "Poppins";
    font-weight: 700;
    font-size: 2.5rem;
    color: #BF3148;
    text-align: center;
    margin-bottom: 10px;
}

.editProfil .profile-picture-display{
    width: 7.5em;
    height: 7.5em;
    object-fit: cover;
    border-radius: 80px;
    margin: 0 auto;
    z-index: 4;
}

.editProfil .ganti-foto-profil{
    font-family: "Poppins";
    font-weight: 600;
    font-size: 0.94rem;
    color: #F2C029;
    text-align: center;
    margin: 10px auto;
}

.editProfil .form .input-profilepicture .profile-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.editProfil .form .input-profilepicture img{
    margin: auto auto 0.625em 0.3em;
    width: 4.375em; /* Mengatur lebar item dengan margin di antara */
    box-sizing: border-box;
    position: relative;
    border-radius: 40px;
    z-index: 2;
}

.editProfil .input{
    margin: auto;
    width: 100%;
    height: auto; 
    margin-bottom: 8px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #3A3A3A;
    background-color: transparent;
}

.editProfil .form .input h4{
    font-family: "Poppins";
    font-family: 600;
    font-size: 1.25rem;;
    color: #BF3148;
    margin: 0;
}

.editProfil .form-check{
    display: flex;
}

.editProfil .form .input-jeniskelamin h4{
    font-family: "Poppins";
    font-family: 600;
    font-size: 1.25rem;;
    color: #BF3148;
    margin: 0;
}

.editProfil .form .input-jeniskelamin label{
    font-family: "Poppins";
    font-family: 300;
    font-size: 1.25rem;;
    color: #3A3A3A;
    margin: auto auto auto 5px;
}

.editProfil .form .input-statuskehamilan h4{
    font-family: "Poppins";
    font-family: 600;
    font-size: 1.25rem;;
    color: #BF3148;
    margin: 0;
}

.editProfil .form .input-statuskehamilan label{
    font-family: "Poppins";
    font-family: 300;
    font-size: 1.25rem;;
    color: #3A3A3A;
    margin: auto auto auto 5px;
}

.editProfil .form .input-penyakit h4{
    font-family: "Poppins";
    font-family: 600;
    font-size: 1.25rem;;
    color: #BF3148;
    margin: 0;
}

.editProfil .form .input-penyakit label{
    font-family: "Poppins";
    font-family: 300;
    font-size: 1.25rem;;
    color: #3A3A3A;
    margin: auto auto auto 5px;
}

.form-check-input:checked[type="radio"] {
    background-color: #F2C029;
    border-color: #F2C029;
    width: 20px;
    height: 20px;
}

.form-check-input[type="radio"]:not(:checked) {
    background-color: transparent;
    border-color: #3A3A3A;
    width: 18px;
    height: 18px;
}

.form-check-input:checked[type="checkbox"] {
    background-color: #F2C029;
    border-color: #F2C029;
    width: 20px;
    height: 20px;
}

.form-check-input[type="checkbox"]:not(:checked) {
    background-color: transparent;
    border-color: #3A3A3A;
    width: 18px;
    height: 18px;
}


.editProfil .input input {
    background-color: #f2507b00;
    width: 100%;
    border: none;
    outline: none;
    font-family: "Poppins";
    font-weight: 300;
    font-size: 1.25rem;;
    color: #3A3A3A;
}

.editProfil input::placeholder {
    margin: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.25rem;;
    color: #3A3A3A;
  }

.editProfil .form #button-edit-profil{
    background-color: #F2C029;
    width: 100%;
    text-align: center;
    padding: 0.625em;
    box-sizing: border-box;
    border-radius: 0.5em;
    border: none;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    font-size: 1.25rem;
    color: white;
}
/* Edit Profil End */

/* Tablet */
@media (max-width: 770px) {
    html{
        font-size: 66.75%;      
    }
  
    .navbar-collapse{
        background-color: #bf3148;
        border-radius: 1em;
        padding: 2em;
      }
    
      .custom-navbar-bg ul{
        gap: 1em;
      }
  
      .custom-navbar-bg .nav-item a{
        color: #ffffff;
      }
  
      .custom-navbar-bg a.nav-button{
        color: white;
      }

      .custom-navbar-bg .dropdown a{
        color: #3A3A3A;
    }

    .editProfil{
        padding: 15% 0;
    }
  
    .editProfil .form{
        width: 90%;
    }    
  
  }
  
  /* Mobile Phone */
  @media (max-width: 450px) {
    html{
      font-size: 55%;
    }
  }

