* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #bf3148;
    background-image: url(../assets/bg-kopi-login-long.png);
}
.container {
    max-width: 1200px;
    margin: auto;
}

/* Navbar Start */
.custom-navbar-bg {
    border-bottom: 1px solid #ffffff;
}

.custom-navbar-bg .container-fluid{
    max-width: 1200px;
}

.regular-logo {
    display: block;
}

.custom-navbar-bg button.navbar-toggler{
    background-color: #F2C029;
}

.custom-navbar-bg .nav-item a{
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: white;
    font-size: 16px;
    opacity: 100%;
    text-decoration: none;
    margin: auto;
}

.custom-navbar-bg .nav-item a.active {
    color: #F2C029;
    font-weight: 700;
}  

.custom-navbar-bg .dropdown li{
    display: flex;
    padding: 5px 0px;
    border-bottom: 1px solid #afafaf;
}

.custom-navbar-bg .dropdown a{
    color: white;
}

.custom-navbar-bg .dropdown img{
    margin: auto;
}

.custom-navbar-bg .profile-picture{
    margin: auto 0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    object-fit: cover;
    z-index: 4;
}

.custom-navbar-bg .dropdown-menu a{
    color: #3a3a3a;
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    font-size: 16px;
    opacity: 100%;
    text-decoration: none;
}

.custom-navbar-bg .dropdown li.logout{
    border-bottom: none;
    padding: 0;
    margin: 10px auto;
}

.custom-navbar-bg .dropdown .logout a.logout-link{
    background-color: #BF3148;
    color: white;
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    font-size: 20px;
    opacity: 100%;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navbar-toggler-icon span {
    background-color: white;
}

.custom-navbar-bg.navbar-scrolled {
    background-color: #BF3148;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
/* Navbar End */

/* Profil Kopi Start */
.kopi{
    display: flex;
    flex-direction: column;    
}

.kopi a{
    text-decoration: none;
}

.kopi img{
    z-index: -1;
}

.kopi .top-right{
    margin: 0 0 auto auto;
}

.kopi .bottom-left{
    margin: auto auto 0 0;
}

.container {
    max-width: 1200px;
    margin: -452px auto;
    display: flex;  
}

.kopi .card-kopi{
    border-radius: 30px;
    background: #E6E6E6;
    margin: auto;        
    width: 719px;
    padding: 30px 0 30px 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

.kopi .content-card{
    margin: auto;
    width: 75%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.kopi .header{
    display: flex;
    gap: 120px;
}

.kopi .header img{
    width: 250px;
    margin: auto auto auto 0;    
    z-index: 4;
}

.kopi .header h1{
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    color: #bf3148;
    font-size: 40px;
    margin: auto;
}

.kopi .header a{
    margin: auto 0;
}

.kopi .header i{
    color: #bf3148;
    font-size: 30px;
    margin: auto 0;
}

.kopi .header img{
    width: 250px;
    margin: auto auto auto 0;    
    z-index: 4;
}

.kopi .nama-kopi{
    display: flex;
    flex-direction: column;
}

.kopi .nama-kopi h2{
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    color: #BF3148;
    font-size: 30px;
    margin: 40px auto 15px auto ;
    text-align: center;
}

.kopi .nama-kopi img{
    margin: auto;
    z-index: 4;
    width: 135px;
}

.kopi .data-kopi{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.kopi .data .content-data{
    display: flex;
    gap: 5px;
}

.kopi .data .judul-data{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.kopi .data .detail-data{
    width: 95%;   
    margin: 0 0 0 auto;
}

.kopi .data-kopi .data h4{
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    color: #BF3148;
    font-size: 33px;
    margin: 10px auto;
    text-align: center;
}

.kopi .data-kopi .data p{
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #3a3a3a;
    font-size: 20px;
    margin: auto 0 ;
}

.kopi .button-menu{
    display: flex;
    gap: 10px;
    margin: 10px 0 auto auto;
}

.kopi .button-edit{
    display: flex;
    gap: 10px;
    background-color: #F2C029;
    width: 130px;
    height: 50px;
    border-radius: 7px;
    cursor: pointer;
}

.kopi .button-edit p{
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    margin: auto auto auto 0;
}

.kopi  .button-edit i{
    color: #ffffff;
    font-size: 20px;
    margin: auto 0 auto auto;
}

.kopi .button-delete{
    display: flex;
    gap: 10px;
    background-color: #BF3148;
    width: 130px;
    height: 50px;
    border-radius: 7px;
    cursor: pointer;
    
}

.kopi .button-delete p{
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    margin: auto auto auto 0;
}

.kopi .button-delete i{
    color: #ffffff;
    font-size: 20px;
    margin: auto 0 auto auto;
}
