* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #bf3148;
    background-image: url(../assets/bg-kopi-login-long.png);
}
.container {
    max-width: 1200px;
    margin: auto;
}

/* Navbar Start */
.custom-navbar-bg {
    border-bottom: 1px solid #ffffff;
}

.custom-navbar-bg .container-fluid{
    max-width: 1200px;
}

.regular-logo {
    display: block;
}

.custom-navbar-bg button.navbar-toggler{
    background-color: #F2C029;
}

.custom-navbar-bg .nav-item a{
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: white;
    font-size: 16px;
    opacity: 100%;
    text-decoration: none;
    margin: auto;
}

.custom-navbar-bg .nav-item a.active {
    color: #F2C029;
    font-weight: 700;
}  

.custom-navbar-bg .dropdown li{
    display: flex;
    padding: 5px 0px;
    border-bottom: 1px solid #afafaf;
}

.custom-navbar-bg .dropdown a{
    color: white;
}

.custom-navbar-bg .dropdown img{
    margin: auto;
}

.custom-navbar-bg .profile-picture{
    margin: auto 0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    object-fit: cover;
    z-index: 4;
}

.custom-navbar-bg .dropdown-menu a{
    color: #3a3a3a;
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    font-size: 16px;
    opacity: 100%;
    text-decoration: none;
}

.custom-navbar-bg .dropdown li.logout{
    border-bottom: none;
    padding: 0;
    margin: 10px auto;
}

.custom-navbar-bg .dropdown .logout a.logout-link{
    background-color: #BF3148;
    color: white;
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    font-size: 20px;
    opacity: 100%;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navbar-toggler-icon span {
    background-color: white;
}

.custom-navbar-bg.navbar-scrolled {
    background-color: #BF3148;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
/* Navbar End */

/* Profil data-reply Start */
.data-reply{
    display: flex;
    flex-direction: column;    
}

.data-reply a{
    text-decoration: none;
}

.data-reply img{
    z-index: -1;
}

.data-reply .top-right{
    margin: 0 0 auto auto;
}

.data-reply .bottom-left{
    margin: auto auto 0 0;
}

.container {
    max-width: 1200px;
    margin: -450px auto;
    display: flex;  
}

.data-reply .card-data-reply{
    border-radius: 30px;
    background: #E6E6E6;
    margin: auto;        
    width: 719px;
    min-height: 473px;
    padding: 30px 0 30px 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

.data-reply .content-card{
    margin: 0 auto auto auto;
    width: 93%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.data-reply .header{
    display: flex;    
    width: 100%;
}

.data-reply .header img{
    width: 250px;
    margin: auto auto auto 0;    
    z-index: 4;
}

.data-reply .header h1{
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    color: #bf3148;
    font-size: 40px;
    margin: auto;
}

.data-reply .header a{
    margin: auto 0;
}

.data-reply .header i{
    color: #bf3148;
    font-size: 30px;
    margin: auto 0;
}

.data-reply .data-caffenchat{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    width: 80%;
}

.data-reply .topic{
    margin: auto;
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;    
    border-bottom: 1px solid rgba(129, 129, 129, 0.4);
}

.data-reply .topic .profil{
    display: flex;
    gap: 0;
    width: fit-content;
    height: fit-content;
    margin-left: 0;
    margin-right: auto;
}

.data-reply .profil .akun{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.data-reply .topic .profile-topic{
    margin: 0 0 auto 0;
    width: 47px;
    height: 47px;
    border-radius: 50px;
    object-fit: cover;
    z-index: 4;
}
  
.data-reply .topic .badge-profil{
    margin: 0 0 auto 0;
    width: 35px;
    z-index: 1;
}

.data-reply .topic .akun h3{
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    color: #BF3148;
    font-size: 20px;
    margin: auto 0;
}
  
.data-reply .topic .akun h4{
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #3a3a3a;
    font-size: 15px;
    margin: auto 0;
}

.data-reply .topic .teks-topic{
    width: 90%;
    margin: auto 0 auto auto;
}

.data-reply .topic .bot-topic{    
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto 20px auto 0;
}
  
.data-reply .topic .bot-topic .left-bottopic{
    display: flex;
    gap: 10px;
}

.data-reply .topic .bot-topic .left-bottopic .replier-topic{
    display: flex;
    gap: 5px;
}

.data-reply .topic .bot-topic .left-bottopic .like-topic{
    display: flex;
    gap: 5px;
}

.data-reply .topic .right-bottopic{
    display: flex;
    gap: 5px;
}

.data-reply .teks-topic h4{
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    color: #3a3a3a;
    font-size: 17px;
    margin: auto 0;
}

.data-reply .bot-topic p{
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #3a3a3a;
    font-size: 15px;
    margin: auto 0;
}

.data-reply .like-topic i{
    color: #F2C029;
    font-size: 20px;
    margin: auto;
}

.data-reply .line-time-post-topic{
    height: 20px;
    margin: auto;
    width: 1px;
    background-color: rgba(129, 129, 129, 0.4);
    margin: auto 0;
    border: 0;
    opacity: 100%;
}

/* Balasan Topik Start */
.data-reply .replies{
    width: 90%;
    margin: 10px 0 10px auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .data-reply .replies .reply{
    border-bottom: 1px solid rgba(129, 129, 129, 0.4);
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
  }

  .data-reply .reply .profil{
    display: flex;
    gap: 0;
    width: fit-content;
    height: fit-content;
    margin-left: 0;
    margin-right: auto;
  }
  
  .data-reply .profil .profile-reply{
    margin: 0 auto auto auto;
    width: 47px;
    height: 47px;
    border-radius: 22px;
    object-fit: cover;
    z-index: 4;
  }
  
  .data-reply .reply .profil .badge-profil{
    margin: 0 0 auto 0;
    width: 35px;
    z-index: 4;
  }  

  .data-reply .replies .profil .akun{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
  }
  
  .data-reply .replies .reply .teks-reply{
    display: flex;
    flex-direction: column;
    width: 88%;
    margin-right: 0;
    margin-left: auto;
  }
  
  .data-reply .reply .time-reply{
    display: flex;
    gap: 5px;
    margin: auto 0 auto auto;
  }
  
  .data-reply .replies .profil h3{
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    color: #BF3148;
    font-size: 20px;
    margin: 0 0 auto 0 ;
  }
  
  .data-reply .replies .profil h4{
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #3a3a3a;
    font-size: 15px;
    margin: 0 0 auto 0 ;
  }
  
  .data-reply .replies .teks-reply h4{
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    color: #3a3a3a;
    font-size: 17px;
  }
  
  .data-reply .replies .teks-reply p{
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #3a3a3a;
    font-size: 15px;
    margin: auto 0;
  }

  /* Balasan Topik End */