* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #bf3148;
    background-image: url(../assets/bg-kopi-login-long.png);
}
.container {
    max-width: 1200px;
    margin: auto;
}

/* Navbar Start */
.custom-navbar-bg {
    border-bottom: 1px solid #ffffff;
}

.custom-navbar-bg .container-fluid{
    max-width: 1200px;
}

.regular-logo {
    display: block;
}

.custom-navbar-bg button.navbar-toggler{
    background-color: #F2C029;
}

.custom-navbar-bg .nav-item a{
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: white;
    font-size: 16px;
    opacity: 100%;
    text-decoration: none;
    margin: auto;
}

.custom-navbar-bg .nav-item a.active {
    color: #F2C029;
    font-weight: 700;
}  

.custom-navbar-bg .dropdown li{
    display: flex;
    padding: 5px 0px;
    border-bottom: 1px solid #afafaf;
}

.custom-navbar-bg .dropdown a{
    color: white;
}

.custom-navbar-bg .dropdown img{
    margin: auto;
}

.custom-navbar-bg .profile-picture{
    margin: auto 0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    object-fit: cover;
    z-index: 4;
}

.custom-navbar-bg .dropdown-menu a{
    color: #3a3a3a;
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    font-size: 16px;
    opacity: 100%;
    text-decoration: none;
}

.custom-navbar-bg .dropdown li.logout{
    border-bottom: none;
    padding: 0;
    margin: 10px auto;
}

.custom-navbar-bg .dropdown .logout a.logout-link{
    background-color: #BF3148;
    color: white;
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    font-size: 20px;
    opacity: 100%;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navbar-toggler-icon span {
    background-color: white;
}

.custom-navbar-bg.navbar-scrolled {
    background-color: #BF3148;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
/* Navbar End */

/* Profil User Start */
.laporan{
    display: flex;
    flex-direction: column;    
}

.laporan a{
    text-decoration: none;
}

.laporan img{
    z-index: -1;
}

.laporan .top-right{
    margin: 0 0 auto auto;
}

.laporan .bottom-left{
    margin: auto auto 0 0;
}

.container {
    max-width: 1200px;
    margin: -452px auto;
    display: flex;  
}

.laporan .card-laporan{
    border-radius: 30px;
    background: #E6E6E6;
    margin: auto;        
    width: 719px;
    min-height: 473px;
    padding: 30px 0 30px 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

.laporan .content-card{
    margin: 0 auto;
    width: 93%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.laporan .header{
    display: flex;    
    width: 100%;
    margin: 0 auto 20px auto;
}

.laporan .header h1{
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    color: #bf3148;
    font-size: 40px;
    margin: auto;
}

.laporan .header a{
    margin: auto 0;
}

.laporan .header i{
    color: #bf3148;
    font-size: 30px;
    margin: auto 0;
}

.laporan .content-laporan{
    width: 90%;
    min-height: 340px;
    margin: 0 auto auto auto;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.laporan .topic{
    margin: 0;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 97%;
    border-bottom: 1px solid rgba(129, 129, 129, 0.4);
}

.laporan .topic .profil{
    display: flex;
    gap: 0;
    width: fit-content;
    height: fit-content;
    margin-left: 0;
    margin-right: auto;
}

.laporan .profil .akun{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.laporan .topic .profile-topic{
    margin: 0 0 auto 0;
    width: 47px;
    height: 47px;
    border-radius: 50px;
    object-fit: cover;
    z-index: 4;
}
  
.laporan .topic .badge-profil{
    margin: 0 0 auto 0;
    width: 35px;
    z-index: 1;
}

.laporan .topic .akun h3{
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    color: #BF3148;
    font-size: 20px;
    margin: auto 0;
}
  
.laporan .topic .akun h4{
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #3a3a3a;
    font-size: 15px;
    margin: auto 0;
}

.laporan .topic .teks-topic{
    width: 90%;
    margin: auto 0 auto auto;
}

.laporan .topic .bot-topic{    
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto 20px auto 0;
}
  
.laporan .topic .bot-topic .left-bottopic{
    display: flex;
    gap: 10px;
}

.laporan .topic .bot-topic .left-bottopic .replier-topic{
    display: flex;
    gap: 5px;
}

.laporan .topic .bot-topic .left-bottopic .like-topic{
    display: flex;
    gap: 5px;
}

.laporan .topic .right-bottopic{
    display: flex;
    gap: 5px;
}

.laporan .teks-topic h4{
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    color: #3a3a3a;
    font-size: 17px;
    margin: auto 0;
}

.laporan .bot-topic p{
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #3a3a3a;
    font-size: 15px;
    margin: auto 0;
}

.laporan .like-topic i{
    color: #F2C029;
    font-size: 20px;
    margin: auto;
}

.laporan .line-time-post-topic{
    height: 15px;
    margin: auto;
    width: 1px;
    background-color: rgba(129, 129, 129, 0.4);
    margin: auto 0;
    border: 0;
    opacity: 100%;
}

.laporan .detailPelanggaran{
    margin: 0 auto auto 0;
}

.laporan .detailPelanggaran h3{
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    color: #BF3148;
    font-size: 20px;
    margin: auto 0;
}

.laporan .detailPelanggaran li{
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #3a3a3a;
    font-size: 15px;
    margin: auto 0;
}

.laporan .button-laporan{
    display: flex;
    gap: 10px;
    margin: auto 0 0 auto;
    width: fit-content;
}

.laporan .button-aman{
    background-color: #F2C029;
    width: 138px;
    height: 44px;     
    display: flex;
    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.laporan .button-takedown{
    background-color: #BF3148;
    width: 138px;
    height: 44px;     
    display: flex;
    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.laporan .button-laporan p{
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    margin: auto;
}